<b-container class="bv-example-row">
  <div class="background-header">
    Total Number of Past Interns: <b>{{ number }}</b>
  </div>
  <b-row>
    <b-col class = 'col'><Pie title = 'Gender' name = 'gender' :data = 'gender'></Pie></b-col>
    <b-col class = 'col'><Pie title = 'Faculty' name = 'faculty' :data = 'faculty'></Pie></b-col>
    <b-col class = 'col'><Pie title = 'Year of Study' name = 'year' :data = 'year'></Pie></b-col>
  </b-row>
  <b-row>
    <b-col class = 'col second'><Histogram title = 'CAP distribution' yname = 'CAP' :data = 'CAP_hist'></Histogram></b-col>
    <b-col class = 'col second'><Pie title = 'Major' name = 'major' :data = 'major'></Pie></b-col>
  </b-row>
  <b-row>
    <b-col class = 'col second'><Bar title = 'Race' yname = 'race' :data = 'race'></Bar></b-col>
    <b-col class = 'col second'><Bar title = 'Nationality' yname = 'nationality' :data = 'nationality'></Bar></b-col>
  </b-row>
  <b-row>
    <b-col class = 'col'><Wordcloud title = 'Modules taken' :data = 'modules'></Wordcloud></b-col>
  </b-row>
</b-container>
