<div>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <div>
    <b-container class="p-4">
      <b-row>
        <b-col cols="3">
          <b-container>
            <b-img thumbnail fluid :src="image_url" />
          </b-container>
        </b-col>
        <b-col cols="9">
          <b-container>
            <b-row>
              <span class = 'position-name'>{{position_title}}</span>
            </b-row>
            <b-row>
              <span class='position-company'>{{company_name}}</span>
            </b-row>
            <b-row class='internship-period-row'>
              <p class='internship-period-title'> Internship Period: <span class='internship-period'>{{start}} ~ {{end}}</span></p>
            </b-row>
            <b-row class='internship-description-row'>
              <span class='job-description-title'> Job Description:</span>
              <span class='job-description'>{{position_description}}</span>
            </b-row>
          </b-container>
        </b-col>
      </b-row>
    </b-container>
  </div>
</div>
