.opening-positions-header {
	font-size: 30px;
	// background-color: rgba(244,237,228,0.8);
	background-color: rgb(218, 227, 242);
	color: rgb(62,152,204);
	display: block;
	margin: auto;
}

.position-frame {
	margin-top: 2rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	overflow-x: scroll;
}

.card {
	font-size: 12px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}

.button-on-card {
	margin-top: 10px;
	font-size: 12px;
}
