.opening-positions-header {
	font-size: 30px;
	background-color: rgb(244,237,228);
	color: rgba(62,152,204, 0.8);
	display: block;
	margin: auto;
	width: 95%;
}

.position-frame {
	margin-top: 2rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	overflow-x: scroll;
}

.card {
	font-size: 12px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}

.button-on-card {
	margin-top: 10px;
	font-size: 12px;
}
