<div>
	<h3 class ='title'> Total number of interns: {{number}}</h3>
	<b-row class = 'row'>
		<b-col class = 'col'>
			<!-- <Pie title = 'Gender' name = 'gender' :data = 'internship_dict' :transform = 'get_gender'></Pie> -->
			<Pie title = 'Gender' name = 'gender' :data = 'gender'></Pie>
		</b-col>
		<b-col class = 'col'>
			<Pie title = 'Major' name = 'major' :data = 'major'></Pie>
		</b-col>
	</b-row>

	<b-row class = 'row'>
		<b-col class = 'col'>
			<Bar title = 'Race' yname = 'Number' :data = 'race'></Bar>
		</b-col>
		<b-col class = 'col'>
			<Bar title = 'Nationality' yname = 'Number' :data = 'nationality'></Bar>
		</b-col>
	</b-row>

	<b-row class = 'row'>
		<b-col class = 'col'>
			<Histogram title = 'CAP distribution' name = 'Number' :data = 'CAP' yours = '4.5'></Histogram>
		</b-col>
		<b-col class = 'col'>
			<Lines title = 'Number of Interns' yname = 'Number' :x = 'xlabel' :data = 'interns'></Lines>
		</b-col>
	</b-row>

</div>