<b-container>
  <v-card
    light
    color="grey lighten-3"
  >
    <v-card-title class="headline">
      Filters
    </v-card-title>
    <v-card-text>
      <b-row>
        <b-col style="padding-bottom: 0; padding-top: 0;">
          <v-autocomplete
            v-model="filter_a_value"
            :items="filter_a_values"
            label="By Industry"
          >
          </v-autocomplete>
        </b-col>
        <b-col style="padding-bottom: 0; padding-top: 0;">
          <v-autocomplete
            v-model="filter_b_value"
            :items="filter_b_values"
            label="By Major"
          >
          </v-autocomplete>
        </b-col>
      </b-row>
    </v-card-text>
    <b-row>
      <v-bottom-sheet v-model="sheet" style="margin-right: 50px; margin-bottom: 10px; margin-left: auto;">
        <template v-slot:activator>
          <v-btn
            color="grey darken-3"
            dark
          >
            Company Search
          </v-btn>
        </template>
        <v-card style="padding-bottom: 17rem;" color="grey lighten-3">
          <v-toolbar>
            <v-autocomplete
              v-model="input"
              :items="data"
              item-text="name"
              item-value="name"
              label="Search for Company"
            >
              <template v-slot:item="data">
                <template>
                  <v-list-tile-avatar v-if="data.item.image_url">
                    <img :src="data.item.image_url">
                  </v-list-tile-avatar>
                  <v-list-tile-avatar v-else :color="colors[Math.floor(Math.random() * colors.length)]">
                    <span class="white--text headline">{{ data.item.name[0] }}</span>
                  </v-list-tile-avatar>
                  <v-list-tile-content>
                    <v-list-tile-title v-html="data.item.name"></v-list-tile-title>
                  </v-list-tile-content>
                </template>
              </template>
            </v-autocomplete>
            <v-btn fab dark small color="blue">
              <v-icon dark>search</v-icon>
            </v-btn>
          </v-toolbar>
        </v-card>
      </v-bottom-sheet>
    </b-row>
  </v-card>
</b-container>
