<div>
  <div v-if="by=='Industry' || by=='Major'">
    <b-container>
      <b-row>
        <b-col>
          <HorizontalBarChart v-bind:title='data.bar_chart.title' v-bind:yname='data.bar_chart.yname' v-bind:data="data.bar_chart.data"></HorizontalBarChart>
        </b-col>
        <b-col>
          <Boxplot></Boxplot>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <Boxplot></Boxplot>
        </b-col>
        <b-col>
          <HorizontalBarChart></HorizontalBarChart>
        </b-col>
      </b-row>
      <b-row>
        <AreaChart></AreaChart>
      </b-row>
    </b-container>
  </div>
  <div v-if="by=='Company'">
    <b-container>
      <b-row>
        <b-col>
          <HorizontalBarChart></HorizontalBarChart>
        </b-col>
        <b-col>
          <Boxplot></Boxplot>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <Boxplot></Boxplot>
        </b-col>
        <b-col>
          <HorizontalBarChart></HorizontalBarChart>
        </b-col>
      </b-row>
      <b-row>
        <AreaChart></AreaChart>
      </b-row>
    </b-container>
  </div>
</div>
