<b-container class="bv-example-row">
  <h3 class="number-of-interns">
    Total Number of Past RAs: {{ totalNum }}
  </h3>
  <b-row>
    <b-col><PieChart title = 'Gender' name = 'gender' :data = 'gender'></PieChart></b-col>
    <b-col><BarChart title = 'nationality' yname = 'number of people' :data = 'nationality'></BarChart></b-col>
  </b-row>

  <b-row>
    <b-col><BarChart title = 'Race' yname = 'number of people' :data = 'race'></BarChart></b-col>
    <b-col><PieChart title = 'Major' name = 'major' :data = 'major'></PieChart></b-col>
  </b-row>

  <b-row>
    <b-col><Barchart title = 'Cumulative Average Points' yname = 'CAP' :data='cap_hist'></BarChart></b-col>
    <b-col><LineChart title = 'number of RAs' yname = 'number of people':x = 'number.x' :data = 'number.data'></LineChart></b-col>
  </b-row>
</b-container>
