<b-container class="bv-example-row">
  <div class="background-header">
    Total Number of Past Interns: {{ totalNum }}
  </div>
  <b-row>
    <b-col><PieChart title = 'Gender' name = 'gender' :data = 'gender'></PieChart></b-col>
    <b-col><BarChart title = 'nationality' yname = 'number of people' :data = 'nationality'></BarChart></b-col>
  </b-row>

  <b-row>
    <b-col><BarChart title = 'Race' yname = 'number of people' :data = 'race'></BarChart></b-col>
    <b-col><PieChart title = 'Major' name = 'major' :data = 'major'></PieChart></b-col>

  </b-row>

  <b-row>
    <b-col><HistogramCAP></HistogramCAP></b-col>
    <b-col><WordCloudModule></WordCloudModule></b-col>
  </b-row>
</b-container>
