<div>
  <v-chip right color="indigo" text-color="white">
    <v-avatar class="indigo darken-4">{{ total_num }}</v-avatar>
    past interns
  </v-chip>
  <b-container class="bv-example-row">
    <b-row> <SpiderChart :title=spider_chart_data.title :data='spider_chart_data.data' :xcategory='spider_chart_data.categories'></SpiderChart>
    </b-row>
    <b-row>
      <b-col class = 'col'>
        <Pie title="Faculty"
          name="Faculty"
          :data="faculty"
        ></Pie>
      </b-col>
      <b-col class = 'col'>
        <Pyramid
          :female="female"
          :male="male"
        ></Pyramid>
      </b-col>
    </b-row>
    <b-row>
      <b-col class = 'col'>
        <LineChart title="Number of Interns"
          yname="Number of Interns"
          :x="number.x"
          :data="number.data"
        ></LineChart>
      </b-col>
      <b-col class = 'col'>
        <Bar
          title="Nationality"
          yname="Number of Students"
          :data="nationality"
        ></Bar>
      </b-col>
    </b-row>
    <b-row>
    <b-col class = 'col'>
      <Bar
        title="Fresh Graduate Starting Salary"
        yname="Salary"
        :data="salary_hist"
      ></Bar>
    </b-col>
      <b-col class = 'col'>
        <LineChart title="Starting Salary over the Years"
        yname="Starting Salary"
        :x="salary_line.x"
        :data="salary_line.data"
        ></LineChart>
      </b-col>
    </b-row>
    <!-- <b-row>
      <b-col><PieChartGender></PieChartGender></b-col>
      <b-col><PieChartFaculty></PieChartFaculty></b-col>
      <b-col><PieChartYear></PieChartYear></b-col>
    </b-row>
    <b-row>
      <b-col><LineChartNum></LineChartNum></b-col>
      <b-col><BarChartNa></BarChartNa></b-col>
    </b-row>
    <b-row>
      <b-col><HistogramSalary></HistogramSalary></b-col>
      <b-col><LineChartSalary></LineChartSalary></b-col>
    </b-row> -->
  </b-container>
</div>
