<div>
	<div class = 'header-frame'>
		<router-link use-router :to="{path: '/'}"><span>
			<h3 class = 'header-logo' id = 'text1' > NUS &nbsp;</h3>
			<h3 class = 'header-logo' id = 'text2' use-router :to="{path: '/'}">Light</h3>
			<h3 class = 'header-logo' id = 'text3' use-router :to="{path: '/'}">house</h3>
		</span></router-link>
		
		<div v-if='username' class = 'header-text'>
			<img :src="icon_url" class = 'inline-image'>
			<b>You have logged in as {{username}}</b>
		</div>

		<div v-else class = 'header-text'>
			<b>You havn't logged in yet</b>
		</div>
	</div>
</div>