.home {
	height: 80rem;
	width: 100rem;
	// background-image: url('../../assets/lighthouse.jpg');
}

.title{
	font-size: 160px !important;
}

.choose{
	height:100%;
	width: 100%;
	background: rgba(53,121,246,0.2);
	text-align: center;
	// border-radius: 1em;
	font-size: 240%;
	text-align: center;
  box-shadow: 2rem 4rem 8rem rgba(0, 0, 0, .5);
}

.option{
	font-size: 250%;
}

.question{
	font-size: 200%;
}

.card-subtitle{
	font-size: 20px;
}

.initial-page-button {
  margin-top: 8rem;
}
// .col {
// 	border-radius: 1rem;
// 	border-color:black;
// }
