<div>
  <!-- <b-card overlay :img-src="require('../../assets/lighthouse.jpg')" img-alt="NUS Lighthouse" text-variant="light"> -->
  <b-card overlay img-src="https://upload.wikimedia.org/wikipedia/commons/9/9c/Lighthouse_at_night_%28Unsplash%29.jpg" img-alt="NUS Lighthouse" text-variant="light">
    <b-card-text>
      <b-container style='height:240px;'>
        <b-row>
        </b-row>
        <br><br>
        <p class='title text-xs-center selima'> NUS Lighthouse </p>
        <p class='question text-xs-center regular-font'>Catalysing Transparency with Analytics</p>
        <b-row class='initial-page-button'>
          <b-col cols='4'>
            <div class='text-xs-center'>
            <v-card use-router :to="{path: '/internship-homepage'}" class='choose white--text' color="rgba(53, 121, 246, 0.2)">
              <br> <p> Internships </p> <br><br>
            </v-card>
          </div>
          </b-col>
          <b-col cols='4'>
            <div class='text-xs-center'>
            <v-card use-router :to="{path: '/internship-homepage'}" class='choose white--text' color="rgba(53, 121, 246, 0.2)">
              <br>
              <p> Research Assistant Opportunities </p>
              <br>
            </v-card>
          </div>
          </b-col>
          <b-col cols='4'>
            <div class='text-xs-center'>
            <v-card use-router :to="{path: '/internship-homepage'}" class='choose white--text' color="rgba(53, 121, 246, 0.2)">
              <br>
              <p> Teaching Assistant Opportunities </p>
              <br>
            </v-card>
          </div>
          </b-col>
            <!--
            <b-button use-router :to="{path: '/internship-homepage'}" href="#" class="button-on-card choose align-middle" variant="primary">
              <p class='option'><br><br>Internships</p>
            </b-button>



          </b-col>
          <b-col cols='4'>
            <b-button use-router :to="{path: '/raPage'}" href="#" variant="primary" class="button-on-card choose">
              <p class='option'><br><br>Research Assistant <br>Opportunities</p>
            </b-button>
          </b-col>
          <b-col cols='4'>
            <b-button use-router :to="{path: '/ta-page'}" href="#" variant="primary" class="button-on-card choose">
              <p class='option'><br><br>Teaching Assistant <br>Opportunities</p>
            </b-button>
          </b-col>
          -->
        </b-row>
      </b-container>
    </b-card-text>
  </b-card>
  <!--
  <v-img class="white--text" :src="require('./lighthouse.jpg')">
    <v-container grid-list-md text-xs-center>
      <v-flex>
      <v-btn> Internships </v-btn></v-flex>
      <v-flex>
      <v-btn use-router :to="{path: '/internship-homepage'}" block fag>
        Research Assistant Opportunities
      </v-btn></v-flex>
      <v-flex>
      <v-btn use-router :to="{path: '/internship-homepage'}" block fag>
        Teaching Assistant Opportunities
      </v-btn></v-flex>
    </v-container>
    <v-container grid-list-md text-xs-center>
      <v-layout row wrap>
        <v-flex v-for="i in 3" :key="`4${i}`" xs4>
          <v-card dark color="primary">
            <v-card-text class="px-0">4</v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-img>

-->
</div>
