.tabtitle {
	width: 50% !important;
	text-align: center !important;
	font-size: 25px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif	!important;
}


.info {
	display: block;
	align: center;
	margin: auto;
}

.tabs {
	margin: auto;
	width: 95%;
}
