<div>
    <Navbar></Navbar>
    <div><BasicInfo :prof_id='prof_id'></BasicInfo></div>

    <!-- <SubHeader field='Past Research Assistants Statistics' class = 'tabs'></SubHeader> -->
  <b-row>
    <b-col>
    <b-tabs content-class="mt-3">
    <b-tab title="Background Statistics"  title-item-class=" text-center tabtitle" title-link-class="title-link"active><Background prof_id='p1' input_cap=4.8></Background></b-tab>
    <b-tab title="Future Trajectory"  title-item-class=" text-center tabtitle" title-link-class="title-link" ><Trajectory :prof_id='prof_id' number=70></Trajectory></b-tab>
  </b-tabs>
  </b-col>
  </b-row>

    <SubHeader field='Current Projects' class = 'tabs'></SubHeader>
    <CurrentProjects :prof_id='prof_id' class = 'tabs'></CurrentProjects>
    <SubHeader field='Recent Publications' class = 'tabs'></SubHeader>
    <RecentPublications :prof_id='prof_id' class = 'tabs'></RecentPublications>

</div>
