.subheader-tab{
	margin-right: 256px;
}

.tabtitle {
	width: 50% !important;
	text-align: center !important;
	font-size: 25px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif	!important;
}

.projects{
	margin-top:0em;
	padding-top: 0em;
	padding-bottom: 0em;
}

.publications{
	margin-top:0em;
	padding-top: 0em;
	padding-bottom: 0em;

}

.info {
	display: block;
	align: center;
	margin: auto;
}

.prof_tabs {
	margin: auto;
	width: 95%;
}

.lighthouse-tabs {
	border-radius: 32px;
}

.v-tabs__item, .v-tabs__item--active {
	text-decoration: none !important;
	color: default !important;
}
