<div>
  <Navbar></Navbar>
  <div><BasicInfo :prof_id='prof_id'></BasicInfo></div>

  <b-container>
    <b-row>

      <b-col>
        <b-container>
          <v-card>
            <v-toolbar color="orange lighten-1" dark>
              <v-toolbar-side-icon></v-toolbar-side-icon>
              <v-toolbar-title>Current Projects</v-toolbar-title>
            </v-toolbar>

            <v-list two-line>

              <template v-for="project in projects">
                <v-list-tile
                  avatar
                  ripple
                  @click=""
                >
                  <v-list-tile-avatar>
                    <v-icon>work_outline</v-icon>
                  </v-list-tile-avatar>
                  <v-list-tile-content>
                    <EachProject v-bind:project="project"></EachProject>
                    <!-- <v-list-tile-title v-html="item.title"></v-list-tile-title> -->
                    <!-- <v-list-tile-sub-title v-html="item.subtitle"></v-list-tile-sub-title> -->
                  </v-list-tile-content>
                </v-list-tile>
              </template>
            </v-list>
          </v-card>
        </b-container>
      </b-col>

      <b-col>
        <b-container>
          <v-card>
            <v-toolbar color="orange lighten-1" dark>
              <v-toolbar-side-icon></v-toolbar-side-icon>
              <v-toolbar-title>Recent Publications</v-toolbar-title>
            </v-toolbar>

            <v-list two-line>
              <template v-for="publication in publications">
                <v-list-tile avatar ripple @click="">
                  <v-list-tile-avatar>
                    <v-icon>file_copy</v-icon>
                  </v-list-tile-avatar>
                  <v-list-tile-content>
                    <EachPublication :description="publication"></EachPublication>
                  </v-list-tile-content>
                </v-list-tile>
              </template>
            </v-list>
          </v-card>
        </b-container>
      </b-col>


     <!--  <b-col>
        <b-container>
          <v-tabs
            centered
            color="grey lighten-3"
            light
            icons-and-text
            class="lighthouse-tabs"
          >
            <v-tab href="#tab-2">
              Recent Publications
              <v-icon>library_books</v-icon>
            </v-tab>

            <v-tab-item
              key="2"
              value="tab-2"
            >
              <v-card flat>
                <br />
                <RecentPublications :prof_id='prof_id' class = 'prof_tabs'></RecentPublications>
              </v-card>
            </v-tab-item>
          </v-tabs>
        </b-container>
      </b-col> -->

    </b-row>
  </b-container>

  <b-container>
    <v-tabs
      centered
      color="grey lighten-3"
      light
      icons-and-text
      class="lighthouse-tabs"
    >
      <v-tabs-slider color="grey"></v-tabs-slider>
      <v-tab href="#tab-3" class='subheader-tab'>
        Background Statistics
        <v-icon>insert_chart_outlined</v-icon>
      </v-tab>

      <v-tab href="#tab-4">
        Future Trajectory
        <v-icon>airplanemode_active</v-icon>
      </v-tab>

      <v-tab-item
        key="1"
        value="tab-3"
      >
        <v-card flat>
          <Background prof_id='p1' input_cap=4.8></Background>
        </v-card>
      </v-tab-item>
      <v-tab-item
        key="2"
        value="tab-4"
      >
        <v-card flat>
          <Trajectory :prof_id='prof_id' number=70></Trajectory>
        </v-card>
      </v-tab-item>
    </v-tabs>
  </b-container>
</div>
