.internship-homepage-tab {
	font-size:20px;
	border:0.5px solid white;
	width:33.3333333% !important;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif	!important;
	border-radius: 10px 10px 1px 1px;
}

.exploreby{
	font-size: 20px;
	font-weight:bold;
}

// .title-link{
//  color:white;
// }

// .padding{
// 	margin-left:4em;
// 	margin-right:4em;
// }

.margin2{
	margin-left:3em;
	margin-right:3em;
}

.v-autocomplete__content {
  top: 40px !important;
  left: 0 !important;
}
