<div>
  <NavBar></NavBar>
  <searchBar
    sub_title="Search for Position"
    :data_dict="position_search"
    name_field="position_name"
    secondary_field="company_name"
    search_field="search"
    id_field="id"
    parent_route="position-page"
    :show_sec="true"
  ></searchBar>
  <recommended class='padding'></recommended>
  <br>
  <div>
    <!-- <b-tabs content-class="mt-3 margin2">

      <b-tab title="Industry" title-item-class=" text-center tabtitle tab-item internship-homepage-tab" title-link-class="title-link" active>
        <industryExplorer :internship = 'internship' by='industry'></industryExplorer>
      </b-tab>
      <b-tab title="Major" title-item-class=" text-center tabtitle tab-item internship-homepage-tab" title-link-class="title-link">
        <industryExplorer :internship = 'internship' by='major'>
        </industryExplorer>
      </b-tab>

      <b-tab title="Company" title-item-class=" text-center tabtitle tab-item internship-homepage-tab" title-link-class="title-link">
        <industryExplorer :internship = 'internship' by='company'>
        </industryExplorer>

      </b-tab>
    </b-tabs> -->
    <b-container>
      <v-toolbar dark color="blue darken-2">
    		<v-toolbar-side-icon></v-toolbar-side-icon>
        <v-toolbar-title class="white--text">Internship Charts</v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>
      <v-tabs
        centered
        color="grey lighten-3"
        light
        icons-and-text
        class="lighthouse-tabs"
      >
        <v-tabs-slider color="grey"></v-tabs-slider>
        <v-tab href="#tab-1" class='subheader-tab'>
          Industry
          <v-icon>gavel</v-icon>
        </v-tab>

        <v-tab href="#tab-2">
          Major
          <v-icon>book</v-icon>
        </v-tab>

        <v-tab href="#tab-3">
          Company
          <v-icon>account_balance</v-icon>
        </v-tab>

        <v-tab-item
          key="1"
          value="tab-1"
        >
          <v-card>
            <industryExplorer :internship = 'internship' by='industry'></industryExplorer>
          </v-card>
        </v-tab-item>
        <v-tab-item
          key="2"
          value="tab-2"
        >
          <v-card>
            <industryExplorer :internship = 'internship' by='major'></industryExplorer>
          </v-card>
        </v-tab-item>

        <v-tab-item
          key="2"
          value="tab-3"
        >
          <v-card>
            <industryExplorer :internship = 'internship' by='company'>
            </industryExplorer>
          </v-card>
        </v-tab-item>
      </v-tabs>
    </b-container>
  </div>
</div>
