.tabtitle{
	font-size:30px;
	background-color:rgb(148,169,216);
	color:white;
	border:0.5px solid white;
	width:33.3333333%;
	border-radius: 10px 10px 1px 1px;
}

.explore{
	font-size:23px;
	font-weight:bold;
}

.title-link{
 color:white;
}

.padding{
	margin-left:4em;
	margin-right:4em;
}

.margin2{
	margin-left:3em;
	margin-right:3em;
}