<div>
  <SearchBar
    sub_title="Search for Professor"
    :data_dict="professor_search"
    name_field="Prof Name"
    secondary_field="title"
    search_field="search"
    id_field="id"
    parent_route="profPage"
  ></SearchBar>
  <Recommended></Recommended>
  <b-container>
    <b-row>
      <Boxplot
        title="CAP of Successful RA Applicants"
        subtitle="in the past years"
        xname="Major"
        :xcategory="cap.xcategory"
        yname="CAP"
        :data="cap.data"
      ></Boxplot>
    </b-row>
    <b-row>
      <b-col>
        <HorizontalBarChart
          title="RA Acceptance Rates by Major"
          subtitle="in the past 5 years"
          yname="Major"
          :data="acceptance_rate"
        ></HorizontalBarChart>
      </b-col>
      <b-col>
        <HorizontalBarChart
          title="Number of RAs by Major"
          subtitle="in the past 5 years"
          yname="Major"
          :data="number"
        ></HorizontalBarChart>
      </b-col>
    </b-row>
    <b-row>
      <AreaChart
        title="Opening Positions by Target Majors"
        subtitle="in the past year"
        :data="opening_positions"
      ></AreaChart>
    </b-row>
  </b-container>
</div>
