<div class="bv-example-row">
  <NavBar></NavBar>
  <PositionInfo :position_id = 'position_id' image_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/800px-Google_%22G%22_Logo.svg.png' class = 'info'></PositionInfo>
  <!-- <SubHeader field='Position Details' class = 'tabs'></SubHeader> -->
  <PositionDetails :position_id = 'position_id'></PositionDetails>

  <b-container>
    <v-tabs
      centered
      color="grey lighten-3"
      light
      icons-and-text
      class="lighthouse-tabs"
    >
      <v-tabs-slider color="grey"></v-tabs-slider>
      <v-tab href="#tab-3" class='subheader-tab'>
        Background Statistics
        <v-icon>insert_chart_outlined</v-icon>
      </v-tab>

      <v-tab href="#tab-4">
        Future Trajectory
        <v-icon>airplanemode_active</v-icon>
      </v-tab>

      <v-tab-item
        key="1"
        value="tab-3"
      >
        <v-card flat>
          <BackgroundStats :position_id = 'position_id'></BackgroundStats>
        </v-card>
      </v-tab-item>
      <v-tab-item
        key="2"
        value="tab-4"
      >
        <v-card flat>
          <TrajectoryPosition :position_id = 'position_id'></TrajectoryPosition>
        </v-card>
      </v-tab-item>
    </v-tabs>
  </b-container>
</div>
  <!-- <b-row>
    <b-col>
      <b-tabs content-class="mt-3" >
        <b-tab title="Background Statistics"  title-item-class=" text-center tabtitle" title-link-class="title-link" active>
          <BackgroundStats :position_id = 'position_id'></BackgroundStats>
        </b-tab>
        <b-tab title="Future Trajectory"  title-item-class=" text-center tabtitle" title-link-class="title-link" >
          <TrajectoryPosition :position_id = 'position_id'></TrajectoryPosition>
        </b-tab>
      </b-tabs>
    </b-col>
  </b-row>
</div> -->
