.tabtitle {
	width: 50%;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif	;
}


.info {
	display: block;
	align: center;
	margin: auto;
}

.tabs {
	margin: auto;
	width: 95%;
}