.v-autocomplete__content {
  top: 50px !important;
}

.search-subtitle {
  font-size: 13px !important;
  color: #6c757d !important;
  font-weight: 'bolder';
}

.lighthouse-search-bar {
  z-index: 8 !important;
}
