<div>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <div>
    <b-container class='p-4'>
      <b-row>

        <b-col cols="3">
          <b-container>
          <p class='module-icon'> {{ this.module.module_code }} </p>
        </b-container>
        </b-col>

        <b-col cols="9">
          <b-container>
            <b-row class='module-code'> {{ this.module.module_code }}</b-row>
            <b-row class='module-name'>
              <p>{{ this.module.module_name }}</p>
            </b-row>
            <b-row>
              <p class='module-course-mc-sem'>{{ this.module.module_course }} · {{ this.module.module_MC }} </p>
            </b-row>
            <b-row>
              <p class='module-description-title'>Module Description:</p>
              <p class='module-description'>{{ this.module.module_description }}</p>
            </b-row>
          </b-container>
        </b-col>
      </b-row>
    </b-container>
  </div>
</div>
