.tabtitle{
	font-size:30px;
	background-color:rgb(148,169,216);
	color:white;
	border:0.5px solid white;
	width:33.3333333%;
	border-radius: 10px 10px 1px 1px;
}

.title-link{
	color:white;
}
.tab-title{
	
}